$backgroundColor:rgb(176, 176, 233);
$font: Helvetica, Arial, sans-serif;
$colorText:rgb(44, 131, 13);
$borderRadius: 5px;

.card {
    
    padding: 1rem;
    background-color: #bde7bd;
    border-radius: 5px;
    box-shadow: 0px 0px 5px gray;
    color: white;
    font-size: 1.6rem;
    text-align: center;
   
  }


nav{
    ul{
        background-color: $backgroundColor;
        border-radius: $borderRadius;
    }
    li{
        font-family: $font;
        list-style: none;
        color: $colorText;
    }
}


img{
    width: 50%;
    height: 50%;
    border-radius: $borderRadius;
}

.image{
    display: flex;
    flex-direction: row-reverse;
   align-items: center;
   color:$colorText;
   padding-bottom: 25px;
}

h1{
    text-align: center;
    text-shadow: 0px 0px 5px gray;
    margin-bottom:100px;
}

button{
    color: #73b873;
    border-color:hover #2e682e;
    margin-top:85px;
}

.text{
    color:$colorText;
    text-align: center;
    background-color: $backgroundColor;
    font-size: 20px;
    padding: 5px;
    border-radius: $borderRadius;
    
}



button.appel{
  color:red;
  padding:7px;
}
